<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /notarios/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /notarios/index.html [L]
</IfModule>
